# Database
POSTGRES_USER=ekklesia
POSTGRES_PASSWORD=ekklesia123
POSTGRES_DB=ekklesia_db
POSTGRES_PORT=5433
DATABASE_URL="postgresql://ekklesia:ekklesia123@localhost:5433/ekklesia_db?schema=public"

# pgAdmin
PGADMIN_EMAIL=admin@ekklesia.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050

# App
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d
